* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("1.jpg");
}

.body-fade-out { animation-name: notebook-fade-out; animation-duration: 1.0s; animation-fill-mode: forwards; }
@keyframes notebook-fade-out { from { opacity: 1 } to { opacity: 0; } }

.wth{
    margin-left: 11%;
    margin-top: 2%;
}

.description{
    font-family: "Bradley Hand ITC";
    font-size: 30px;
    font-weight: bold;
}

.container{
    margin: 10%;
    margin-top: 2%;
    height: 10%;
    width: 37%;
    overflow: hidden;
    overflow-x: scroll;
    border: 10px ridge #5C4033;
    border-radius: 10px;
    background-color: white;
}

.container::-webkit-scrollbar{
    display: none;
}

.comic{
    height: 330px;
}

.theRest{
    float: right;
    width: 40%;
    margin-top: -80px;
    margin-right: 8%;
    transform: rotate(-5deg);
}

#bookStatic{
    position: absolute;
    right: 20%;
    top: 20%;
    height: 15%;
    width: 15%;
}

#bookStatic:hover{
    position: absolute;
    opacity: 0;
}

#bookGif{
    position: absolute;
    right: 20%;
    top: 20%;
    opacity: 0;
    height: 15%;
    width: 15%;
}

#bookGif:hover{
    position: absolute;
    opacity: 100;
}

.circle{
    position: absolute;
    width: 25%;
    height: auto;

    top:35%;
    right: 25%;
}

.text{
    font-family: "Bradley Hand ITC";
    font-size: 18px;
    font-weight: 600;
}

#note{
    font-family: "Bradley Hand ITC";
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    bottom: 28%;
    left: 12%;
    transform: rotate(-8deg);
}

#arrowLeft{
    width: auto;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 0.5%;
    transition: transform .2s;
}

#arrowRight{
    width: auto;
    height: 100px;
    transform: rotate(180deg);
    position: absolute;
    top: 45%;
    right: 0.5%;
    transition: transform .2s;
}

#arrowLeft:hover{
    transform: scale(1.1);
}

#arrowRight:hover{
    transform: scale(1.1) rotate(180deg);
}